@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}
.content {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaaec79c, #644ea2a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaaec79c, #644ea2a6), url(../img/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*cubre  el contenedor con la img completa*/
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .txt-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.txt-header h1{
    font-size: 50px;
    color: #fff;

}
.txt-header h2{
    font-size: 30px;
    color: #ffff;
    font-weight: 100;
}
/* barra de navegacion*/
nav{
    text-align: right;
    padding: 30px 50px 0 0;

}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;


}
nav > a:hover{
    text-decoration: underline;
    color: #0d879fa6;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.content-nosotros{
    display: flex;
    /**/
    justify-content: space-evenly;

}
.img-nosotros{
    width: 48%;
}
.sobre-nosotros .content-txt{
    width: 48%;
}
.content-txt h3{
    margin-bottom: 15px;

}
.content-txt h3 span{
    background-color: #642a73;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgb(62, 61, 61,.5);
    margin-right: 5px;
}
.content-txt p{
    padding: 0 0 30px 20px;
    /* para que resalte el  titulo mas */
    font-weight: 300;
    text-align: justify;
}

        /*galeria*/

.portafolio{
   background-color: rgb(246, 244, 242); 
}   
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    /*genere una especie de rejilla*/
    flex-wrap: wrap;
   

}
.img-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    height: 150px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0,.5);
}

.img-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: #642a73b3;
    transform: scale(0);
    transition: transform .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria P{
    color: white;
}

.img-port:hover .hover-galeria{
    transform: scale(1);
}


/*tarjetas*/
.cards{
    display: flex;
    justify-content: space-evenly;

}
.cards .card{
    background-color: #642a73;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(0, 0, 0,.6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #ffff;
    border-radius: 50%;
    display: block;
}

.cards .card > .content-txt-card{
    width: 60%;
    color: #fff;
    
}
.cards .card > .content-txt-card p {
    font-weight: 300;
    padding-top: 5px;
}

/*nuestros servicios*/
.servicios {
    background-color: #f2f2f2 ;
    padding-bottom: 30px;
    
}
.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
}

/*footer*/

footer {
    background-color: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.content-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom:1px solid #ccc ;
}
.content-foo {
    align-items: center;
   
}
.content-foo h4{
    text-align: center;
    color: #fff;
    border-bottom: 3px solid #9af4ee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    color: #9e9797;
}

/* Media Query´s*/

@media screen and (max-width: 900px){
    header{
        background-position: center;
    }
    .content-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .content-txt {
        width: 90%;
    }
    .img-nosotros {
        width: 90%;
        margin-bottom: 40px;
    }
    /* galeria*/
    .img-port{
        width: 44%;
    }
    /*Clientes*/
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .cards .card {
        width: 90%;
    }
    /*solo se ataca al primer elemento del contenedor*/
    .cards .card:first-child{
        margin-bottom: 30px;
    }
    /*Servicios*/
    .servicio-cont {
        justify-content: center;
        flex-direction: column;

    }
    .servicio-ind {
        width: 100%;
        text-align:  center;

    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }

}

@media screen and (max-width: 500px){
    nav {
        text-align: center;

    }
    nav>a {
        margin-right: 5px;
    }
    .txt-header h1 {
        font-size:  35px;
    }
    .txt-header h2 {
        font-size: 20px;
    }
    
    /* Servicios*/
    .servicio-cont {
        justify-content:  center;
        flex-direction: column;
    }
    .servicio-ind {
        width: 100%;
        text-align:  center;

    }
    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }
    .servicio-ind img {
        width: 90%;
    }

    /*Nosotros*/
    .img-nosotros {
        width: 99%;
        margin-bottom: 60px;
    }
    .sobre-nosotros .content-txt {
        width: 95%;
    }
    /* Galeria*/
    .img-port {
        width: 95%;
    }

    /*Clientes*/
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img {
        width: 110px;
        height: 110px;
    }
    .content-footer {
        flex-direction: column;
        border: none;
        
    }
    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p {
        color: #fff;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }
    .titulo-final {
        font-size: 25px;
    }
}
