*{
    box-sizing: border-box;
}
header,footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
}
section{
    background-color: royalblue;
    padding: 20px;
    float: left;
    width: 50%;
    height: 300px;
    border-style: solid ;
    overflow: auto;
}
article{
    background-color: rgba(34, 255, 0, 0.6);
    padding: 20px;
    overflow: auto;
    padding-left: 20px; ;
    padding-right: 20px;
    padding-bottom: 20px;
}
footer{
    clear: both;
}