*{
    box-sizing: border-box;
}
header,footer{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
}
section{
    background-color: royalblue;
    padding: 20px;
    float: left;
    width: 50%;
}
footer{
    clear: both;
}