h1{
    text-align: center;
}

table{
    caption-side: bottom;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    background-image:linear-gradient(to bottom right, rgb(0, 128, 255), rgb(255, 179, 0));
    box-shadow: 10px 10px 15px rgb(255, 0, 251);
    
}   
th,td{
    border: 2px solid orange;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}